<div class="container d-grid bg-dark border-top border-white mt-5">

    <footer class="footer sticky-bottom py-3 bg-dark ">
        <div class="container-fluid">
            <div class="row justify-content-between h-25">
                <div class="col-4">
                    <span class="text-muted"> By Bartolomeu Aguiar</span>
                </div>
                <div class=" col-4 text-end">
                    <span class="text-muted pe-2 offset-2"> Powered by Django</span>
                </div>
            </div>
        </div>
    </footer>
</div>