<h2 class="text-center  my-4 text-white">Add Order For <strong>{{cliente.name}}</strong> </h2></div>

<div class="card">
    <div class="card-body">
        {{request.client.name}}
        <form action="" method="POST">
            {% csrf_token %}
                <hr/>
            
            Customer : {{cliente.name}}

        </form>
        <ul>
            
            {% for produto in produtos %}
                <li>{{produto.product}} {{produto.name}}</li>
            {% endfor %}
                
        </ul>
    </div>
</div>