<!-- Start order content -->
<div class="col pb-3">
    <div class="card h-100  text-white bg-white rounded-5 m-2">
        <div class="card-body text-dark">
            <p class="position-relative">
                <span
                    class=" position-absolute top-50 start-50 badge translate-middle text-bg-success fs-5">
                    Paid
                </span>
            </p>
            <h3 class="text-center card-title">
                <a href="./order-detail.html" class="text-decoration-none fw-semibold">
                    ID order
                </a>
            </h3>
            <hr>
            <p class="card-text">
                <b>Cliente name: </b><a href="./client_detail.html" data-bs-toggle="tooltip"
                    data-bs-title="Click for client details">Francisca
                    Patrícia Guimarães</a>
            </p>
            <p class="card-text">
                <b>Delivery date</b>: 15/09/2023
            </p>
            <p class="card-text">
                <b>Delivery time</b>: 14:30
            </p>
            <p class="card-text">
                <b>For delivery:</b> Sim
            </p>
            <p class="card-text">
                <b>Delivery method:</b> Personalizada Deliciê
            </p>
            <p class="card-text">
                <b>Delivery address:</b> Avenida dos mascotinho, nº459, 13 de setembro.
            </p>
            <p class="card-text text-center"><b>Order</b></p>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1 Bolo</li>
                <li class="list-group-item">50 Brigadeiro</li>
            </ul>
            <div class="row">
                <a href="" class="btn btn-primary btn-block fw-bold">
                    <i class="fa-solid fa-eye me-1"></i>
                    More details...
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End order content -->